#header.span16
  = link_to "NTU Scheduler", "schedules/show_self", :class => 'logo content_link'
  = form_tag url_for(:controller => "schedules", :action => 'show_friend'), {:method => :get, :id => 'suggest_form', "data-type" => 'text', :class => "content_form"} do
    = text_field_tag "name", nil, :placeholder => "Find friend's schedule", :id =>'fb_suggest', :class => 'span10'
    #search_icon

#content.span16
  = render :partial =>"schedules/show", :locals => {:schedule => @schedule}
