- lesson_names = schedule.to_a
%table.schedule.bordered-table
  %thead
    %tr
      %th#first-column #
      %th Monday
      %th Tuesday
      %th Wednesday
      %th Thursday
      %th Friday
      %th Saturday
  %tbody
    - (1...15).each do |time|
      %tr
        %td= time
        - (0...6).each do |day|
          %td= lesson_names[day][time]
