.message_container
  .alert-message.block-message.warning#send_block
    .explain_text
      %p
        %strong Oops
        你的朋友還沒開始使用這個服務，你可以邀請他來一起使用 ＝）
    = link_to "邀請", "#", :class => 'btn', :id => 'send_invitation', 'friend-uid' => friend_uid
  .alert-message.block-message.success.hidden#success_block
    .explain_text
      %p
        %strong 你的邀請已成功送出！
    = link_to "回到課表", "schedules/show_self", :class => 'btn primary content_link'
