.alert-message.block-message.info{"data-alert" => "info"}
  = link_to "x", "#", :class => 'close'
  %p
    %strong Oops, your friend is not using this service.
    Send the invitation by click button below, or ask him or she to sign up for our service.
    .info-actions
      = link_to "Send Invitation", "#", :class => 'btn primary'