.share_button
  %a{:href=>'#'}
    - post_obj = {:method => 'feed',
      :redirect_uri => root_url,
      :link => schedule_url(schedule)}
    = image_tag "facebook_share_icon.gif", :class => 'fb_share', "data-obj" => post_obj.to_json
