= render :partial => "shared/user_info", :locals => {:user => schedule.user}
- if current_user == schedule.user
  = render :partial => "schedules/share_button", :locals => {:schedule => schedule}
- else
  .compare_button
    = link_to "按一下，開始配對", compare_with_me_path(schedule), :class => 'btn success', "data-remote" => true, "data-method" => 'post', "data-type" => 'text'
= render :partial => 'schedules/schedule_table', :locals => {:schedule => schedule}
