%table.schedule.zebra-striped
  %thead
    %tr
      %th#first-column #
      %th Monday
      %th Tuesday
      %th Wednesday
      %th Thursday
      %th Friday
      %th Saturday
  %tbody
    %tr
      %td 1
      %td
      %td
      %td
      %td
      %td
      %td
    %tr
      %td 2
      %td 計算機程式設計
      %td 世界經濟導論
      %td
      %td
      %td
      %td
    %tr
      %td 3
      %td 計算機程式設計
      %td 世界經濟導論
      %td 普通物理學上
      %td 健康體是能
      %td 普通物理學上
      %td
    %tr
      %td 4
      %td 計算機程式設計
      %td
      %td 普通物理學上
      %td 健康體是能
      %td 普通物理學上
      %td
    %tr
      %td @
      %td
      %td
      %td
      %td
      %td
      %td
    %tr
      %td 5
      %td
      %td
      %td 微積分甲上
      %td
      %td 微積分甲上
      %td
    %tr
      %td 6
      %td 國文上
      %td
      %td 微積分甲上
      %td
      %td 微積分甲上
      %td
    %tr
      %td 7
      %td 國文上
      %td 現代文學與文化
      %td
      %td 路易斯名著選讀
      %td
      %td
    %tr
      %td 8
      %td 國文上
      %td 現代文學與文化
      %td
      %td 路易斯名著選讀
      %td
      %td
    %tr
      %td 9
      %td
      %td
      %td
      %td
      %td
      %td
    %tr
      %td A
      %td
      %td
      %td
      %td
      %td
      %td
    %tr
      %td B
      %td
      %td
      %td
      %td
      %td
      %td
    %tr
      %td C
      %td
      %td
      %td
      %td
      %td
      %td
    %tr
      %td D
      %td
      %td
      %td
      %td
      %td
      %td
