- content_for :title do
  %title #{@schedule.user.name}'s Schedule - EveryScheduler
.row
  #header.span16
    %h1.logo
      EveryScheduler
      -# TODO replace the fucking hard coded link to a more concise method
      %a.logo.content_link{:href => "http://apps.facebook.com/everyscheduler/"}
    .promo
      = link_to "開始分享你的課表", "http://apps.facebook.com/everyscheduler/"
  #content.span16
    = render :partial => "shared/user_info", :locals => {:user => @schedule.user}
    .fb-like{"data-send"=>false, "data-layout"=>"button_count", "data-width"=>"80px", "data-show-faces"=>true, "data-url" => schedule_url(@schedule)}
    = render :partial => "schedule_table", :locals => {:schedule => @schedule}