#login-form
  = form_for(User.new, :remote => true, :format => :json) do |f|
    = f.text_field :student_id, "placeholder" => "請輸入學號："
    = f.submit "確認", :disable_with => "載入中", :class => "btn primary"
  = image_tag "spinner.gif", :id => 'spinner'
  #creating_status
    
