---
facebook: &facebook
  app_id: 195138283911045
  secret_key: 11111111111111111111111111111111
  callback_url: http://apps.facebook.com/everyscheduler/
  permissions: ""

development:
  <<: *facebook

test: *facebook

production: *facebook
