---
facebook: &facebook
  app_id: 195138283911045
  secret_key: 12e945a1206842c31fc7c9631d1ef1de
  callback_url: http://apps.facebook.com/everyscheduler-dev/
  permissions: ""

development:
  <<: *facebook

test: *facebook

production: *facebook
