- me = current_user
- you = schedule_set.schedules.map{|s| s.user}.find{|u| u != me}
.compare_info
  .row
    .span6.offset2
      %h2
        %i Comparing
      %br
      = square_profile(me, :class => 'framed_img') 
      = image_tag "and.png"
      = square_profile(you, :class => 'framed_img')
      -#= image_tag "info_border.png"
    .score_block.span6
      %h2 配對度 
      .num 78
= render :partial => 'schedule_sets/set_table', :locals => {:schedule_set => schedule_set}