#header
  border-bottom: 2px solid #bbb
  .logo
    display: inline-block
    text-indent: -99999px
    background: url("logo.jpg") no-repeat
    font-size: 28px
    font-weight: bold
    float: left
    height: 33px
    padding: 4px
    width: 230px
  form
    float: right
    position: relative
    margin: 8px 0 9px 8px
    input
      width: 250px
    #search_icon
      position: absolute
      margin: 4px 1px 0 0
      padding-left: 2px
      top: 0
      right: 0
      background: url("search_icon.gif")
      opacity: 0.3
      width: 22px
      height: 21px
  
