#header
  border-bottom: 2px solid #bbb
  .logo
    +reset-box-model
    +replace-text-with-dimensions("logo.jpg")
    display: inline-block
    float: left
    
  form
    float: right
    position: relative
    margin: 8px 0 9px 8px
    input
      width: 250px
    #search_icon
      position: absolute
      margin: 4px 1px 0 0
      padding-left: 2px
      top: 0
      right: 0
      background: url("search_icon.gif")
      opacity: 0.3
      width: 22px
      height: 21px

#content
  margin-top: 10px
  
.user_info
  height: 50px
  display: inline-block
  padding-bottom: 5px
  margin-bottom: 5px
  margin-top: 5px
  h2
    display: inline-block
    margin-left: 10px
    +simple_vertical_center(50px)
  img
    display: inline-block
    float: left
    +legacy-pie-clearfix

.fb-like
  position: static
  vertical-align: top
  margin-top: 22px
  margin-left: 10px
