#user_info {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  background: #f5f5f5;
  //border-radius(5px);
}

table.schedule {
  table-layout: fixed;
  th, td {
    text-align: center;
  }
  th#first-column {
    width: 35px;
    // Override the damn bootstrap style to avoid webkit width bug
    padding: 0;
  }
}

