table.schedule {
  table-layout: fixed;
  th, td {
    text-align: center;
  }
  th#first-column {
    width: 35px;
    // Override the damn bootstrap style to avoid webkit width bug
    padding: 0;
  }
}

