@import "base"
#user_info
  +border-radius(5px)
  +single-box-shadow
  padding-top: 10px
  padding-bottom: 10px
  margin-bottom: 10px
  background: #f5f5f5

table.schedule
  table-layout: fixed
  th#first-column
    width: 15px