.user_info
  display: inline-block
  padding: 5px

#header
  .promo
    +simple_vertical_center(40px)
    display: inline-block
    font-size: 20px
    margin-left: 10px

.compare_info
  margin-bottom: 10px
  img
    display: inline-block
    vertical-align: middle
    margin-left: 5px
    margin-right: 5px
  .span6
    text-align: center
  h2
    display: inline-block
    +simple_vertical_center(54px)
  span
    font-size: 30px
    +simple_vertical_center(54px)
    .num
      font-style: italic
      font-weight: bold
      font-size: 120%

.control_bar
  display: inline-block
  
table.schedule
  @extend .table_fixed
  td
    text-align: center
    
.ui-menu-item
  img
    float: left
  .value
    display: inline-block
    line-height: 50px
    height: 50px
    padding-left: 10px

.compare_button
  display: inline-block
  vertical-align: top
  margin-top: 17px
  margin-left: 10px
.share_button
  position: relative
  img
    cursor: pointer
    position: absolute
    right: 0
    top: -30px
