//@import "base"
.user_info
  display: inline-block
  padding: 5px

.control_bar
  display: inline-block
  
table.schedule
  @extend .table_fixed
  td
    text-align: center
    
.ui-menu-item
  img
    float: left
  .value
    display: inline-block
    line-height: 50px
    height: 50px
    padding-left: 10px
